[submodule "externals/unittest-cpp"]
	path = externals/unittest-cpp
	url = git@github.com:arashb/unittest-cpp.git
	ignore = dirty	
[submodule "externals/tinyxml2"]
	path = externals/tinyxml2
	url = git://github.com/leethomason/tinyxml2.git
	ignore = dirty